<div>
  <div class="nav-bar">
    <span> Calculation</span>
  </div>

 

  <!-- <div class="container">
      <span>A. Travelling allowance B/F (Total of A): XXXX FIXED</span><br />
      <span> B. Daily Allowance XXXXX days @ Rs XXXXXX : Rs XXXXX Input </span>
      <span> C. TOTAL (A+B) : Rs XXXX FIXED </span>
      <span
        >D. Honorarium (applicable only for Inspectors, PCI) : Rs XXXXXX input
      </span>
  
      <span>
        E. Incognito Fees applicable only in case of surprise : Rs XXXXXX input
        Inspection (verification of complaint/ compliance)
      </span>
      <span> A. Travelling allowance B/F (Total of A) : Rs XXXX FIXED </span>
      <span>F. GRAND TOTAL (C+D+E) : Rs XXXXXXXXX FIXED</span>
      <span> G. Advance if any : Rs XXXXXX FIXED </span>
      <span> H. Balance (F –H) : Rs XXXXXX FIXED </span>
    </div> -->
  <div class="mainGrid">
    <div class="outerClass">
      <div class="grid1">A. Travelling allowance B/F (Total of A):</div>
      <div class="grid2">XXXX FIXED</div>
    </div>
    <div class="outerClass">
      <div class="grid1">B. Daily Allowance XXXXX days @ Rs XXXXXX :</div>
      <div class="grid2">Rs XXXXX Input</div>
    </div>
    <div class="outerClass">
      <div class="grid1">C. TOTAL (A+B) :</div>
      <div class="grid2">Rs XXXX FIXED</div>
    </div>
    <div class="outerClass">
      <div class="grid1">
        D. Honorarium (applicable only for Inspectors, PCI) :
      </div>
      <div class="grid2">Rs XXXXXX input</div>
    </div>
    <div class="outerClass">
      <div class="grid1">
        E. Incognito Fees applicable only in case of surprise :
      </div>
      <div class="grid2">
        Rs XXXXXX input Inspection (verification of complaint/ compliance)
      </div>
    </div>
    <div class="outerClass">
      <div class="grid1">
        E. Incognito Fees applicable only in case of surprise :
      </div>
      <div class="grid2">
        Rs XXXXXX input Inspection (verification of complaint/ compliance)
      </div>
    </div>
    <div class="outerClass">
      <div class="grid1">G. Advance if any :</div>
      <div class="grid2">Rs XXXXXX FIXED</div>
    </div>
    <div class="outerClass">
      <div class="grid1">H. Balance (F –H) :</div>
      <div class="grid2">Rs XXXXXX FIXED</div>
    </div>
  </div>
  <div class="header">
    <span style="text-transform: uppercase"> Declaration/Undertaking : </span>
  </div>

  <div class="container">
    <p style="padding: 6px; margin: 10px">
      <span class="wording">
        I have actually travelled by the mode and class and T.A. has been
        claimed accordingly. I will perform the journey by mode and class for
        which I have been paid advance by the PCI. I have not claimed TA/DA or
        any other allowance for this journey from any other source. I was not
        provided free lodging, Boarding, Conveyance at the cost of
        Government/University or an Autonomous Body. Particulars given in the
        bill are true and correct.
      </span>
    </p>
    <!-- <span>Name: XYZ </span> <br />
      <span> Address : Address 123 </span> <br />
      <span>
        Date and time : <i>Auto filled</i> <input type="date" />
        <input type="time" />
      </span> -->

    <div class="mainGrid2">
      <div class="outerClass">
        <div class="grid1">Name :</div>
        <div class="grid2">XYZ</div>
      </div>
      <div class="outerClass">
        <div class="grid1">Address :</div>
        <div class="grid2">Address 123</div>
      </div>
      <div class="outerClass">
        <div class="grid1">Date and time :</div>
        <div class="grid2">
          <i>Auto filled</i> <input type="date" /> <input type="time" />
        </div>
      </div>
    </div>
    <br />
  </div>

  <div class="footer">
    <button (click)="navigate()">Submit</button>
  </div>

  <div class="footer-nav">
    <app-bottom-bar></app-bottom-bar>
  </div>
</div>
