.container {
  display: flex;
  flex-direction: column;
  height: 60vh;
}

.container .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(180, 210, 238, 0.82) 49.48%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: -1;
}
.nav-bar {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  border: 3px solid #000;
  background: linear-gradient(180deg, #1da0ff 4.17%, rgba(14, 9, 240, 0) 100%);
  height: 40px;
}
.nav-bar span {
  margin-top: 12px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #20294c;
}
.header {
  margin: 20px auto;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
}
.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  /* align-items: left; */
}
.footer {
  /* position: absolute; */
  margin: 50px 10px;
  justify-content: center;
  align-items: center;
}
.footer button {
  /* position: relative; */
  margin: 1px auto;

  text-align: center;
  text-transform: uppercase;
  display: flex;
  width: 50%;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #0c99ff;
}
.bottom-bar {
  display: flex;
  flex-direction: row;
  margin: 50px;
}
.bottom-bar nav {
  margin: 30px;
}
.LHS {
  margin-left: 10px;
  text-align: left;
}
.RHS {
  position: relative;
  text-align: start;
  /* margin-left: auto; */
  left: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
}
span {
  /* margin-left: 10px; */
  padding-left: 2px;
  line-break: auto;
  overflow-x: auto;
  scroll-behavior: smooth;
  word-break: break-all;
  /* word-wrap: break-word; */
  /* padding: 2px; */
}
/* @media (max-width: 768px) {
      .bottom-bar {
        margin-top: -220px;
      }
      .footer-nav {
        margin-left: 30px;
        width: 80%;
        padding: 0;
        margin-bottom: 0px;
      }
    }
    @media screen and (max-height: 700px) {
      .footer-nav {
        position: absolute;
        margin: 210px -26px;
        width: 80%;
        padding: 8px;
      }
    }
    @media screen and (min-height: 701px) and (max-height: 800px) {
      .footer-nav {
        position: absolute;
        margin: 180px 1px;
        width: 80%;
      }
    }
    @media screen and (min-height: 801px) and (max-height: 900px) {
      .footer-nav {
        position: absolute;
        margin: 180px 3px;
        width: 80%;
      }
    }
    @media screen and (min-height: 901px) and (max-height: 1001px) {
      .footer-nav {
        position: absolute;
        margin: 180px 3px;
        width: 80%;
      }
    }
    @media screen and (min-height: 1002px) and (max-height: 1101px) {
      .footer-nav {
        position: absolute;
        margin: 180px 5px;
        width: 80%;
      }
    }
    @media screen and (min-height: 1102px) and (max-height: 1220px) {
      .footer-nav {
        position: absolute;
        margin: 110px 61px;
        width: 80%;
      }
    }
    @media screen and (min-height: 1221px) and (max-height: 1420px) {
      .footer-nav {
        position: absolute;
        margin: 10px 51px;
        width: 80%;
      }
    } */
.footer-nav {
  position: sticky;
  /* top: 100%; */
  width: 100vw;
  margin-bottom: 0;
  bottom: 0;
  z-index: 1;
}
