<div class="nav-bar">
  <span> General Information </span>
</div>
<div class="container">
  <div>
    <div class="header">
      <span>
        Institute name /institute id: Sankaralingam Bhuwaneswari College of
        Pharmacy Anaikuttam Via Sivakasi Viruthunagar Dist/ PCI-1882
      </span>
    </div>

    <div class="container">
      <div class="background"></div>
      <span class="LHS">COLLEGE: </span>
      <span class="RHS"
        >Sankaralingam Bhuwaneswari College of Pharmacy Anaikuttam Via Sivakasi
        Viruthunagar Dist/ PCI-1882</span
      ><br />

      <span class="LHS"> ADDRESS : </span>
      <span class="RHS">Address 123</span> <br />
      <span class="LHS"> STATE : </span>
      <span class="RHS">UP</span> <br />
      <span class="LHS"> PCI ID : </span>
      <span class="RHS"> PCI-001</span> <br />
      <span class="LHS"> COURCES: </span>
      <span class="RHS">D Pharm / B Pharm </span><br />
    </div>

    <div class="footer">
      <button>Submit</button>
    </div>

    <div class="footer-nav">
      <app-bottom-bar></app-bottom-bar>
    </div>
  </div>
</div>
