<div class="nav-bar">
  <span>GENERAL INFORMATION </span>
</div>
<div class="container">
  <div>
    <div class="header">
      <span>
        Institute name /institute id: Sankaralingam Bhuwaneswari College of
        Pharmacy Anaikuttam Via Sivakasi Viruthunagar Dist/ PCI-1882
      </span>
    </div>

    <div class="container">
      <div class="background"></div>
      <div class="outerClass" >
      <div class="grid1">COLLEGE:</div>
      <div class="grid2">Sankaralingam Bhuwaneswari College of Pharmacy Anaikuttam Via Sivakasi
        Viruthunagar Dist/ PCI-1882</div><br />
      </div>
      <div class="outerClass" >
        
        <div class="grid1">ADDRESS : </div>
        <div class="grid2"> Address 123</div>
    </div>
    <div class="outerClass" >
    <div class="grid1"> STATE : </div>
    <div class="grid2">UP </div>
    </div>
    <div class="outerClass" >
      <div class="grid1">PCI ID : </div>
      <div class="grid2"> PCI-001</div>
      </div>
      <div class="outerClass" >
        <div class="grid1">COURCES: </div>
      <div class="grid2"> D Pharm / B Pharm</div>
      </div>
    </div>

    <div class="footer">
      <button>Submit</button>
    </div>

    <div class="footer-nav">
      <app-bottom-bar></app-bottom-bar>
    </div>
  </div>
</div>
