.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto auto 20px;
}
.icon-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 70px;
  width: 10px;
  /* gap: 2px; */
  padding: 12px;
}
.img {
  margin: auto 70px;
  /* padding: 12px; */
}
.footer-nav {
  position: sticky;

  width: 100vw;
  margin-bottom: 0;
  bottom: 0;
  z-index: 1;
}
.scrollable-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/* @media (max-width: 768px) {
    .footer-nav {
      margin-left: 30px;
      width: 80%;
      padding: 0;
      margin-top: -300px;
      margin-bottom: 0px;
    }
  } */
