<div class="scrollable-container">
  <div class="main-container">
    <div class="heading">
      <h1>List of Institutions for Inspection</h1>
    </div>
    <div class="grid-container">
      <div
        class="grid-item"
        *ngFor="let item of gridConfig; let i = index"
        (click)="openPage(item.id)"
        [style.backgroundColor]="getColor(i)"
      >
        <div class="icon-heading">
          <img [src]="item.image" alt="" />
          <h2>{{ item.name }}</h2>
        </div>
        <div class="img">
          <!-- <img [src]="" alt="image" /> -->
          <span>Filled</span>
        </div>
      </div>
    </div>
    <div class="footer-nav">
      <app-bottom-bar></app-bottom-bar>
    </div>
  </div>
</div>
