.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto auto 20px;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(180, 210, 238, 0.82) 49.48%, rgba(0, 0, 0, 0.00) 100%);
  z-index: -1;
}
.icon-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 70px;
  width: 10px;
  /* gap: 2px; */
  padding: 12px;

}
.icon-heading h2{
  font-size: 4.5vw;
}
.img {
  margin: auto 70px;
  /* padding: 12px; */
}
.footer-nav {
  position: sticky;

  width: 100vw;
  margin-bottom: 0;
  bottom: 0;
  z-index: 1;
}
.scrollable-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
h1{
  position: relative;
  overflow: hidden;
  min-height: 70px;
  


  text-align: center;
  justify-content: center;

  color: #060505;

  font-family: "Roboto";

  font-size: 6.5vw;
  line-height: 37.5px;
  padding-top: 22px;

  font-weight: 900;
  
  background: linear-gradient(
    180deg,
    #1da0ff 4.17%,
    rgba(14, 9, 240, 0) 100%
  );
  /* height: 50px; */
  border: 3px solid #000;
}
/* @media (max-width: 768px) {
    .footer-nav {
      margin-left: 30px;
      width: 80%;
      padding: 0;
      margin-top: -300px;
      margin-bottom: 0px;
    }
  } */

