<div>
  <div class="background"></div>
  <div class="nav-bar">
    <span> Traveling Allowance </span>
  </div>

  <div class="header">
    <span> Source onward Journey </span>
  </div>

  <!-- <div class="container">
      <span> Departure Station :<input type="text" /> </span> <br />
      <span> Date and time : <input type="date" /> <input type="time" /> </span>
      <br />
      <span> Arrival Station : <input type="text" /> </span>
      <br />
      <span> Date and time : <input type="date" /> <input type="time" /> </span>
      <span>
        Mode of Journey :
        <select name="journey" id="">
          <option value="option5">Flight</option>
          <option value="option6">Train</option>
          <option value="option7">Bus</option>
        </select> </span
      ><br />
      <span>
        Fair (Rs.):
        <input type="text" placeholder="Amount in rupees" />
      </span>
    </div> -->
  <div class="mainGrid">
    <div class="outerClass">
      <div class="grid1">Departure Station :</div>
      <div class="grid2"><input type="text" /></div>
    </div>
    <div class="outerClass">
      <div class="grid1">Date and time :</div>
      <div class="grid2"><input type="date" /> <input type="time" /></div>
    </div>
    <div class="outerClass">
      <div class="grid1">Arrival Station :</div>
      <div class="grid2">
        <input type="text" />
      </div>
    </div>
    <div class="outerClass">
      <div class="grid1">Date and time :</div>
      <div class="grid2"><input type="date" /> <input type="time" /></div>
    </div>
    <div class="outerClass">
      <div class="grid1">Mode of Journey :</div>
      <div class="grid2">
        <select name="journey" id="">
          <option value="option5">Flight</option>
          <option value="option6">Train</option>
          <option value="option7">Bus</option>
        </select>
      </div>
    </div>
    <div class="outerClass">
      <div class="grid1">Fair (Rs.):</div>
      <div class="grid2">
        <input type="text" placeholder="Amount in rupees" />
      </div>
    </div>
  </div>
  <div class="header">
    <span> Destination return Journey </span>
  </div>
  <!-- <div class="container">
      <span> Departure Station : <input type="text" /> <br /></span>
      <span> Date and time : <input type="date" /> <input type="time" /> </span>
      <br />
      <span>
        Arrival Station :
        <input type="text" />
      </span>
      <br />
      <span> Date and time : <input type="date" /> <input type="time" /> </span>
      <span>
        Mode of Journey :
        <select name="journey" id="">
          <option value="option5">Flight</option>
          <option value="option6">Train</option>
          <option value="option7">Bus</option>
        </select> </span
      ><br />
      <span>
        Fair (Rs.):
        <input type="text" placeholder="Amount in rupees" />
      </span>
      <span style="font-weight: 800"
        >Total Sum : <i>sum will be fetched</i>
      </span>
    </div> -->
  <div class="mainGrid">
    <div class="outerClass">
      <div class="grid1">Departure Station :</div>
      <div class="grid2"><input type="text" /></div>
    </div>
    <div class="outerClass">
      <div class="grid1">Date and time :</div>
      <div class="grid2"><input type="date" /> <input type="time" /></div>
    </div>
    <div class="outerClass">
      <div class="grid1">Arrival Station :</div>
      <div class="grid2">
        <input type="text" />
      </div>
    </div>
    <div class="outerClass">
      <div class="grid1">Date and time :</div>
      <div class="grid2"><input type="date" /> <input type="time" /></div>
    </div>
    <div class="outerClass">
      <div class="grid1">Mode of Journey :</div>
      <div class="grid2">
        <select name="journey" id="">
          <option value="option5">Flight</option>
          <option value="option6">Train</option>
          <option value="option7">Bus</option>
        </select>
      </div>
    </div>
    <div class="outerClass">
      <div class="grid1">Fair (Rs.):</div>
      <div class="grid2">
        <input type="text" placeholder="Amount in rupees" />
      </div>
    </div>
    <div class="outerClass">
      <div class="grid1">Total Sum :</div>
      <div class="grid2">
        <i style="font-weight: 600">sum will be fetched</i>
      </div>
    </div>
  </div>
  <div class="footer">
    <button (click)="navigate()">Submit</button>
  </div>

  <!-- <div class="bottom-bar"> -->
  <div class="footer-nav">
    <app-bottom-bar></app-bottom-bar>
  </div>
  <!-- </div> -->
</div>
