<div class="container">
  <h1>List of Institutions for Inspection</h1>
  <div class="scrollable-container">
    <div class="grid-container">
      <div
        class="grid-item"
        *ngFor="let item of gridConfig; let i = index"
        (click)="navigateToDashboard()"
        [style.backgroundColor]="getColor(i)"
      >
        <h2>{{ item.collegeName }}</h2>
        <h4>Co-inspector Name : {{ item.coInspectorName }}</h4>
        <p>Co-inspector Email : {{ item.coInspectorEmail }}</p>
        <p>Institution Type : {{ item.instituteType }}</p>
      </div>
    </div>
  </div>
  <div class="footer-nav">
    <app-bottom-bar></app-bottom-bar>
  </div>
</div>
